<div class="color-dark container">
  <div class="col">
    <p>Add a bucket list item</p>
  </div>  <!-- col -->
  <div class="col">
    <p>Your bucket list ({{ itemCount }})</p>
  </div>  <!-- col -->
</div>  <!-- color-dark container -->
<div class="color-light container" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>
    
    <form>
      <input class="txt" name="item" placeholder="Life goal.." type="text" [(ngModel)]="goalText">
      <input class="btn" type="submit" [value]="btnText" (click)="addItem()">
    </form>
  </div>  <!-- col -->
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">{{ goal }}</p>
  </div>  <!-- col -->
</div>  <!-- color-light container -->